@use './abstracts/tokens' as *;

@font-face {
  font-family: 'Golos Text';
  src: url('../fonts/GolosText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text';
  src: url('../fonts/GolosText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text';
  src: url('../fonts/GolosText-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family-base: #{$font-family-base};
  --font-family-heading: #{$font-family-heading};

  --font-size-xs: #{$font-size-xs};
  --font-size-sm: #{$font-size-sm};
  --font-size-md: #{$font-size-md};
  --font-size-lg: #{$font-size-lg};
  --font-size-xl: #{$font-size-xl};
  --font-size-2xl: #{$font-size-2xl};
  --font-size-3xl: #{$font-size-3xl};
  --font-size-4xl: #{$font-size-4xl};

  --line-height-line: #{$line-height-line};
  --line-height-tight: #{$line-height-tight};
  --line-height-base: #{$line-height-base};
  --line-height-relaxed: #{$line-height-relaxed};

  --font-weight-regular: #{$font-weight-regular};
  --font-weight-medium: #{$font-weight-medium};
  --font-weight-semibold: #{$font-weight-semibold};

  --color-bg-main: #{$color-bg-main};
  --color-bg-second: #{$color-bg-second};
  --color-bg-contrast: #{$color-bg-contrast};

  --color-text-primary: #{$color-text-primary};
  --color-text-secondary: #{$color-text-secondary};
  --color-text-inverse: #{$color-text-inverse};
  --color-accent-danger: #{$color-accent-danger};

  --container-max-width: #{$container-max-width};
  --container-padding-mobile: #{$container-padding-mobile};
  --container-padding-mobile-y: #{$container-padding-mobile-y};
  --container-padding-tablet: #{$container-padding-tablet};
  --container-padding-tablet-y: #{$container-padding-tablet-y};
  --container-padding-desktop: #{$container-padding-desktop};
  --container-padding-desktop-y: #{$container-padding-desktop-y};
}

html,
body {
  margin: 0;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
}

* {
  box-sizing: border-box;
}
