$font-family-base: 'Golos Text', sans-serif;
$font-family-heading: $font-family-base;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-2xl: 32px;
$font-size-3xl: 42px;
$font-size-4xl: 64px;

$line-height-line: 1;
$line-height-tight: 1.2;
$line-height-base: 1.4;
$line-height-relaxed: 1.6;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

$color-bg-main: #ffffff;
$color-bg-second: #f5f5f5;
$color-bg-contrast: #000000;

$color-text-primary: #000000;
$color-text-secondary: #6f6f6f;
$color-text-inverse: #ffffff;

$color-accent-danger: #ff0000;

$container-max-width: 1920px;
$container-padding-mobile: 20px;
$container-padding-mobile-y: 40px;
$container-padding-tablet: 30px;
$container-padding-tablet-y: 60px;
$container-padding-desktop: 60px;
$container-padding-desktop-y: 100px;
